.tabsTasksInfo {
  display: flex;
}

.tabsWeekInfo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 580px) {
  .tabsWeekInfo {
    margin: 0 28px 0 0;
  }
}

@media screen and (min-width: 1180px) {
  .tabsTasksInfo {
    display: flex;
  }

  .tabsWeekInfo {
    position: static;
    font-size: 18px;
    line-height: 1.22;
    margin-right: 0;
    margin-bottom: 30px;
    text-align: start;
  }
}

.themeDarkText {
  color: #fff;
}
