.darkBg {
  background-color: rgba(82, 82, 100, 0.541);
}

@media screen and (min-width: 580px) {
  .week {
    padding-top: 40px;
  }

  .weekInfo {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1180px) {
  .weekInfo {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 60px;
  }

  .weekProgressBar {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding-right: 40px;
  }
}
