.weekBox {
  padding-top: 20px;
}

.navWeekList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navWeekItem {
  margin-right: 4px;
}

.navWeekBtn {
  width: 35px;
  height: 24px;
  border-radius: 4px;
  border: none;
  background: #f6da98;
}

.navWeekBtnActive {
  width: 35px;
  height: 24px;
  border-radius: 4px;
  border: none;
  background: #ffbc33;
}

.navWeekBtn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(1.05);
}

.navWeekBtnText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 580px) {
  .navWeekList {
    justify-content: flex-end;
    padding-top: 0px;
  }

  .weekBox {
    display: flex;
    align-items: center;
    background: #ffbc33;
    width: 100%;
    min-height: 70px;
    padding-top: 0;
  }

  .navWeekItem:not(:last-child) {
    margin-right: 16px;
  }

  .navWeekBtn {
    width: 40px;
    height: 26px;
    border-radius: 4px;
    border: none;
    background: #f6da98;
  }

  .navWeekBtnActive {
    width: 40px;
    height: 26px;
    border-radius: 4px;
    border: none;
    background: #ffffff;
  }
}

@media screen and (min-width: 1180px) {
  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .weekBox {
    display: block;
    background: #ffbc33;
    min-height: 796px;
    width: 240px;
  }

  .navWeekList {
    display: block;
    padding-top: 140px;
    padding-left: 50px;
  }

  .navWeekItem {
    margin-bottom: 6px;
    margin-right: auto;
    transition: transform 250ms linear;
  }

  .navWeekBtn {
    width: 190px;
    height: 42px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    background: #f6da98;
  }

  .navWeekBtnActive {
    width: 190px;
    height: 42px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    background: #ffffff;
  }

  .navWeekBtn:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: scale(1.05);
  }

  .navWeekBtnText {
    font-size: 14px;
    line-height: 1.21;
  }
}
